@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  background-color: beige;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

h1{
    color:brown;
}
h2:hover{
    color:blueviolet;
}
header{
grid-area: 1/1/3/5;
text-align: center;
display: flex;
flex-direction: column;
padding: 20px 40%;
gap:10px;
}
main{
    grid-area:3/1/10/4;
    background-color: white;
    padding: 30px ;
}
.sidebar{
    grid-area: 3/4/10/5;
    padding: 20px;
    text-align: center;
    background-color: white;
}
footer{
    grid-area: 10/1/11/5;
    padding: 20px 0px;
    text-align: center;
}

.popup{
    width: 300px;
    height: 350px;
    border: 1px black solid;
    border-radius: 10px;
    margin: auto;
    background-color: beige;
    padding: 20px 10px;  
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.input-group{
    position: relative;
}
.input-group input{
    display: block;
    background: none;
    background-color: #fff; 
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 10px;
}

.input-group input:focus{
    outline: none;
    border-color: blue;

}

input:focus ~ label{
    top: -2px;
    color: black; 
}
label{
    color: grey;
    font-size: 14px;
    position: absolute;
    pointer-events: none;
    left:10px;
    top: 8px;
    transition: 300ms ease all; 
}
input:valid ~ label{
    top: -2px;
}


.isRead {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  margin: 0px 40px 20px;
  height: 40px;
  gap: 10px;
}

.button {
  border-radius: 20px;
  height: 50px;
  border: none;
  background-color: rgb(110, 197, 232);
  color: black;
  font-size: 1.2rem;
  padding: 10px 30px;
  &:hover {
    opacity: 0.4;
    cursor: pointer;
  }
}

.show {
  margin-top: 5px;
  background-color: brown;
}

.book_shown {
  margin: 25px 0 0 50px;
  font-size: 1.2rem;
}

.library-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  gap: 15px;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background-color: rgb(238, 237, 150);
  border-radius: 12px;
  width: 200px;
  padding: 30px;
  height: 200px;
}
.delete{
    border-radius: 20px;
    height: 30px;
    border: none;
    background-color: rgb(110, 197, 232);
    color: black;
    font-size: 0.9rem;
    padding: 5px 20px;
    &:hover {
      opacity: 0.4;
      cursor: pointer;
    }
}
.book-isRead:hover {
    cursor: pointer;
}