@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-image:url(library.png);
    background-size: cover;
    font-family: "Kanit";
}

header{
    border-radius: 10px;
    background-color: rgb(236, 209, 169);
    margin: 30px;
    text-align: center;
}

.addBookBtn, .closeDialogForm, .book button{
  margin: 30px;
  border-radius: 10px;
  background-color: orange;
  color: white;
  border: none;
  padding: 10px;
  font-weight: 600;
  font-size: 1.3rem;
}

dialog{
  box-sizing: border-box;
  width: 300px;
  height: 400px;

  padding: 30px;
  background-color: rgb(236, 209, 169);
  color: rgb(76, 75, 75);
}
h2{
  text-align: center;
}
label{
  display: inline-block;
  width: 60px;
  margin-bottom: 20px;
  font-weight: 600;
}
input{
  width: 50%;
  outline: none;
  border: none;
  height: 20px;
  border-radius: 20px;
}
.closeDialogForm{
  font-size: 1.1rem;
  margin-left: 35%;
} 

#books-container{

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 20px;
}

.book {
width: 250px;
border-radius: 20px;
color: black;
background-color: white;
border: 1px solid black;
display: block;
padding: 10px;
  button{
      font-size: 0.9rem;
      margin: 0;
      text-align: center;
  }
  .isRead{
      background-color: green;
  }
  .notRead{
      background-color: red;
  }
}

dialog::backdrop {
  background: rgba(97, 94, 94, 0.8);
} 
